    @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
    html,
    button {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    
    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        background-color: #eec591;
        gap: 50px;
        margin: 20px;
        padding: 20px;
    }
    
    #button-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
    
    [type="color"] {
        appearance: none;
        padding: 0;
        width: 15px;
        height: 15px;
        border: none;
    }
    
    [type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    
    [type="color"]::-webkit-color-swatch {
        border: none;
    }
    
    .picker {
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background: #f8f9f9;
    }
    
    button {
        font-size: 2vh;
        font-weight: 600;
        color: #8876ea;
        transition: all 0.3s;
        position: relative;
        width: 100px;
        padding: 3px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
    }
    
    button span {
        transition: all 0.3s;
    }
    
    button::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        transform: scale(0.1, 1);
    }
    
    button:hover span {
        letter-spacing: 2px;
    }
    
    button:hover::before {
        opacity: 1;
        transform: scale(1, 1);
    }
    
    button::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: #93ea7628;
    }
    
    button:hover::after {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    
    #size-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
    
    #canvas {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        width: 520px;
        height: 520px;
        margin: 0;
        padding: 0;
        box-shadow: 3px 3px #95744b;
        background-color: white;
    }
    
    #tile {
        width: auto;
        height: auto;
        border: 1px solid rgb(136, 136, 136);
    }