    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 50px;
        margin: 20px;
        padding: 20px;
    }
    
    #button-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
    
    #canvas {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        width: 520px;
        height: 520px;
        margin: 0;
        padding: 0;
        box-shadow: 3px 3px rgba(71, 60, 60, 0.158);
        border: 1px solid red;
    }
    
    #tile {
        width: auto;
        height: auto;
        border: 1px solid rgb(255, 174, 0);
    }
    
    .on {
        background-color: black;
    }
    
    .off {
        background-color: white;
    }